<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/custom-theme.css" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile.structure-1.3.1.min.css" />
  <link rel="stylesheet" href="/stylesheets/master.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
  <script>
    $(document).ready(function () {
      $.mobile.ajaxEnabled = false;
      $("#home").click(function(){
        window.location.href = "main_checkin.html";
      });
    });
  </script>
  <style>
    .ui-content {
      padding-top: 0px;
    }
    .ui-content .ui-listview-inset, .ui-panel-inner .ui-listview-inset {
      margin: 0px;
    }
  </style>
</head>

<body>
<div data-role="page" data-theme="a" >
  <div data-role="header" data-theme="b" >
    <a href="#" data-rel="back" data-icon="back">Back</a>
    <h1 class="sanford">Events</h1>
    <a id="home" href="#" data-icon="home">Home</a>
  </div>

  <% var d = new Date(date) %>
  <% var millisec_in_day = 1000*60*60*24; %>
  <% var yesterday = new Date(d.getTime() - millisec_in_day)%>
  <% var tomorrow  = new Date(d.getTime() + millisec_in_day)%>

  <fieldset class="ui-grid-a">
    <div class="ui-block-a">
      <a href="/events/<%= yesterday.toISOString().slice(0,10) %>" data-role="button" data-mini="true" data-icon="arrow-l" data-iconpos="left">Prev</a>
    </div>
    <div class="ui-block-b">
      <a href="/events/<%= tomorrow.toISOString().slice(0,10) %>" data-role="button" data-mini="true" data-icon="arrow-r" data-iconpos="right">Next</a>
    </div>
  </fieldset>
  <div data-role="content" data-theme="a" >
    <div id="event_container">
      <ul data-role="listview" data-theme="a" data-inset="true">
        <li data-role="list-divider" data-theme="a" ><%= d.toDateString() %></li>
        <% for (var i=0; i<eventlist.length; i++) { %>
        <li>
            <!-- Figure out how date objects are passed and then do this. -->
            <p><strong>11:00</strong>AM - <strong>6:00</strong>PM</p>
            <% console.log(eventlist[i][3]; %>
            <p><strong><%= eventlist[i][2] %></strong></p>
            <p><img class="ui-li-thumb event_image" src="/images/<%= eventlist[i][6] %>" />
            <%= eventlist[i][5] %>
            </p>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
</body>

</html>
