<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/custom-theme.css" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile.structure-1.3.1.min.css" />
  <link rel="stylesheet" href="/stylesheets/master.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
</head>

<body>
<div data-role="page" data-theme="a">
  <div data-role="header" data-theme="b">
    <a href="#" data-rel="back" data-icon="back">Back</a>
    <h1>Stories</h1>
    <a id="home" href="#" data-icon="home">Home</a>
  </div>
  <div data-role="content">
    <ul data-role="listview" data-filter="true" data-filter-placeholder="Search stories..." data-inset="false">
      <% for (var i=0; i<storylist.length; i++) { %>
      <li>
      <a href="/profile/<%= storylist[i].user_id %>">
        <h2><%= userlist[i][0] %> <%= userlist[i][1] %></h2>
        <p>
          <img class="ui-li-thumb event_image" src="/images/story_<%= storylist[i].user_id %>.jpg" />
          <%= storylist[i][4] %>
        </p>
      </a>
      </li>
      <% } %>
    </ul>
  </div>
</div>
</body>

</html>

<script type="text/javascript">

  $(document).ready(function(){
    
    $("#home").click(function(){
      window.location.href = "main_checkin.html";
    });

  })
  
</script>
